{% extends 'base.html' %}

{% block content %}
    <div id="logform" class="py-4">
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-header text-center">
                    <i class="fas fa-user fa-2x"></i>
                    <h2 class="mt-2">Connexion au Blog</h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="username" class="form-label">Nom d'utilisateur</label>
                        <input type="text" name="username" id="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary" type="submit">Se connecter</button>
                </div>
            </div>
        </form>
        <div class="text-center mt-3">
            <p>Pas encore inscrit??? <a href="{% url 'sinup' %}">S'inscrire</a></p>
        </div>
    </div>


{% endblock %}